<div class="container py-4">
  <!-- Botón Regresar y Título -->
  <app-page-header title="Formulario de Ticket"></app-page-header>
  <!-- Selector de Acción: Tabs -->
  <ul class="nav nav-pills nav-justified mb-4 bg-white p-2 rounded shadow-sm">
    <li class="nav-item">
      <button class="nav-link" [class.active]="activeTab === 'nuevo'" (click)="setActiveTab('nuevo')">
        @if (editando) {
        Editando Ticket
        } @else {
        Generar Nuevo
        }
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="activeTab === 'editar'" (click)="setActiveTab('editar')">Consultar /
        Editar</button>
    </li>
  </ul>

  <div class="tab-content">
    <!-- NUEVO TICKET -->
    <div class="tab-pane " [class.show]="activeTab === 'nuevo'" [class.active]="activeTab === 'nuevo'">
      <div class="card border-0 shadow-sm p-4">

        <div class="d-flex align-items-center mb-4">
          <div class="d-flex align-items-center flex-wrap gap-2">
            <h5 class="text-primary m-0">
              @if (editando) {
              Ticket Turno #{{ ticket.turno }}
              } @else {
              Nuevo Ticket
              }
            </h5>

            @if (editando) {
            <span class="badge rounded-pill" [class.bg-warning]="ticket.estatus_ticket === 'PENDIENTE'"
              [class.bg-success]="ticket.estatus_ticket === 'RESUELTO'">
              {{ ticket.estatus_ticket }}
            </span>
            <small class="text-muted fw-semibold">
              {{ ticket.curp }}
            </small>
            }
          </div>

          <button class="btn btn-outline-secondary ms-auto btn-sm d-flex align-items-center" (click)="nuevo()">
            <span class="material-icons">add</span>
          </button>
        </div>

        <p class="text-muted">Llená el formulario para obtener tu turno.</p>

        <form>
          <div class="mb-3">
            <label class="form-label">Nombre del que realiza</label>
            <input [(ngModel)]="ticket.nombre_realiza" name="nombre_realiza" type="text" class="form-control" [readonly]="resuelto">
          </div>
          <div class="mb-3">
            <label class="form-label">CURP</label>
            <input [(ngModel)]="ticket.curp" name="curp" type="text" class="form-control" maxlength="18" [readonly]="resuelto">
          </div>
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input [(ngModel)]="ticket.nombre" name="nombre" type="text" class="form-control" [readonly]="resuelto">
          </div>
          <div class="d-flex flex-wrap gap-3">
            <div class="flex-fill">
              <label class="form-label">Apellido Paterno</label>
              <input [(ngModel)]="ticket.apellido_paterno" name="apellido_paterno" type="text" class="form-control" [readonly]="resuelto">
            </div>
            <div class="flex-fill">
              <label class="form-label">Apellido Materno</label>
              <input [(ngModel)]="ticket.apellido_materno" name="apellido_materno" type="text" class="form-control" [readonly]="resuelto">
            </div>
          </div>
          <div class="d-flex flex-wrap gap-3">
            <div class="flex-fill">
              <label class="form-label">Teléfono</label>
              <input [(ngModel)]="ticket.telefono" name="telefono" type="tel" class="form-control" [readonly]="resuelto">
            </div>
            <div class="flex-fill">
              <label class="form-label">Celular</label>
              <input [(ngModel)]="ticket.celular" name="celular" type="tel" class="form-control" [readonly]="resuelto">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Correo</label>
            <input [(ngModel)]="ticket.correo" name="correo" type="email" class="form-control" [readonly]="resuelto">
          </div>
          <div class="d-flex flex-wrap gap-3">
            <div class="flex-fill">
              <label class="form-label">Nivel Estudios</label>
              <select [(ngModel)]="ticket.nivel_estudios" name="nivel_estudios" class="form-select" [attr.disabled]="resuelto ? true : null">
                <option value="">-- Seleccione --</option>

                @for (nombre of nivelesEstudios(); track nombre) {
                <option [value]="nombre">{{ nombre }}</option>
                }
              </select>
            </div>
            <div class="flex-fill">
              <label class="form-label">Municipio</label>
              <app-municipio-search 
                [value]="ticket.municipio" 
                (municipioSelected)="ticket.municipio = $event"
                [disabled]="resuelto">
              </app-municipio-search>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Asunto</label>
            <textarea [(ngModel)]="ticket.asunto" name="asunto" class="form-control" rows="3" [readonly]="resuelto"></textarea>
          </div>
          @if(editando) {
          <div class="d-flex flex-wrap gap-2">
            @if (ticket.estatus_ticket === 'PENDIENTE') {
            <button type="button" (click)="imprimirTicket()"
              class="btn btn-outline-primary flex-fill py-2 shadow-sm d-flex align-items-center justify-content-center">
              <span class="material-icons align-middle me-1">print</span> Imprimir Ticket
            </button>
            <button type="button" (click)="guardarTicket()"
              class="btn btn-primary flex-fill py-2 shadow-sm d-flex align-items-center justify-content-center">
              <span class="material-icons align-middle me-1">save</span> Actualizar Ticket
            </button>
            } @else {
            <button type="button" (click)="imprimirTicket()"
              class="btn btn-outline-primary w-100 py-2 shadow-sm d-flex align-items-center justify-content-center">
              <span class="material-icons align-middle me-1">print</span> Imprimir Ticket
            </button>
            }
          </div>
          } @else {
          <button type="button" (click)="guardarTicket()"
            class="btn btn-primary w-100 py-2 shadow-sm d-flex align-items-center justify-content-center">
            <span class="material-icons align-middle me-1">save</span>Registrar Ticket
          </button>
          }

        </form>
      </div>
    </div>

    <!-- CONSULTAR/EDITAR -->
    <div class="tab-pane " [class.show]="activeTab === 'editar'" [class.active]="activeTab === 'editar'">
      <div class="card border-0 shadow-sm p-4">
        <h5 class="mb-3 text-primary">Buscar mi ticket</h5>
        <div class="mb-3">
          <label class="form-label">CURP</label>
          <input [(ngModel)]="ticketBusqueda.curp" name="curp" type="text" class="form-control"
            placeholder="Ej. AAAA000000AAAAAA00" maxlength="18">
        </div>
        <div class="mb-4">
          <label class="form-label">Número de Turno</label>
          <input [(ngModel)]="ticketBusqueda.turno" name="turno" type="number" class="form-control"
            placeholder="Ej. 123">
        </div>
        <button type="button" (click)="consultarTicket()"
          class="btn btn-primary w-100 py-2 shadow-sm">Consultar</button>
      </div>
    </div>
  </div>
</div>