:root {
  --bg-color: #f4f4f4;
  --text-color: #333333;
  --primary: #007bff;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: sans-serif;
}

.swal2-container.swal2-top-end {
  width: 100vw !important;
}

.my-custom-toast {
  width: 30vw !important;
  font-size: 1.25rem;
}



@media (max-width: 768px) {
  .my-custom-toast {
    width: 90vw !important;
    font-size: 1rem;
  }
}