@media (min-width: 992px) {
  :host {
    display: block;
    width: 280px;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden; 
  }

  .offcanvas-lg {
    transform: none !important;
    visibility: visible !important;
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
  }

  .offcanvas-body {
    overflow-y: auto;
    flex-grow: 1;
  }
}